@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cormorant Garamond", serif;
}

a {
    text-decoration: none;
}
li{
    list-style: none;
}
.clearfix::after,
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}

body {
    height: 100vh;
    /* background-image: radial-gradient( #fff, #c3cbd8); */
    background-color: #eeeff3;
    /* filter: blur(30%); */
    /* position: relative; */
    position: relative;
}

#banner {
    width: 100%;
    height: 10%;
    position: relative;
    /* background-color: thistle; */
}

/* hamburger */


#banner>.hamburger {
    width: 50px;
    height: 30px;
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 10;
    cursor: pointer;

}

#banner>.hamburger>.h_bar {
    width: 50px;
    height: 3px;
    background-color: #808083;
    float: left;
}

#banner>.hamburger>.h_bar::before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #808083;
    position: absolute;
    top: 8px;
    left: 0;
}

#banner>.hamburger>.h_bar::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #808083;
    position: absolute;
    top: 16px;
    left: 0;
}

#banner>.nav {
    width: 280px;
    height: 500px;
    /* transform: translateY(-120%); */
    /* display: none; */
    position: absolute;
    top: 90px;
    left: -300px;
    z-index: 100;
    transition: all 0.3s;
    /* background-color: red; */
    /* background-color: rgba(0, 0, 0, 0.2); */
}

#banner>.nav.open {
    left: 23px;
    display: block;
    /* transform: translateY(0%); */
}

#banner>.nav>ul {
    padding: 13px;
}

#banner>.nav>ul>li {
    margin-top: 10px;
}

#banner>.nav>ul>li:nth-of-type(6) {
    margin-top: 0;
}

#banner>.nav>ul>li:nth-of-type(5) {
    padding-top: 40px;
}

#banner>.nav>ul>li a {
    display: block;
    font-size: 26px;
    color: #808083;
    padding-left: 10px;
    text-decoration: none;
}

#banner>article {
    position: absolute;
    top: 55%;
    right: 3%;
    display: flex;
}

#banner>article>.login>a>img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#banner>article>.cart>a>img {
    width: 20px;
    height: 20px;
}

main{
    position: absolute;
    top: 35%;
    left: 38%;
}
main >img{
    width: 160%;
    opacity: 0.7;
}
main >span{
    font-family: "Cormorant Garamond", serif;
    font-size: 30px;
    display: block;
    margin-top: 25px;
    padding-left: 40%;
    width: 160%;
    font-weight: 400;
    color: #808083;
    

}